html, body {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    justify-content: center;
    background-color: #FBFAF5;
    font-family: 'Trebuchet MS', sans-serif;
}

.button {
    padding: 8px;
    border-radius: 4px;
    border: 1px solid black;
    display: inline-block;
}

.warning {
    background-color: #eed202;
}

.paper {
    background-color: #f2eecb;
}

.paper:hover {
    cursor: url('../assets/cursor.cur'), auto;
}

.gold-star {
    width: 24px;
    height: 24px;
    content: url('../assets/gold_star.png');
    transform: translateX(-50%) translateY(-50%);
}

.silver-star {
    width: 20px;
    height: 20px;
    content: url('../assets/silver_star.png');
    transform: translateX(-50%) translateY(-50%);
}

.bronze-star {
    width: 16px;
    height: 16px;
    content: url('../assets/bronze_star.png');
    transform: translateX(-50%) translateY(-50%);
}

.unselectable {
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
    user-select: none;
}

.clickable {
    cursor: pointer;
    transition: all 0.2s ease;
}

.clickable:hover {
    opacity: 0.75;
}

.modal {
    position: absolute;
    width: 100%;
    height: 100%;
    pointer-events: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-background {
    background: rgba(0,0,0,0.5);
    width: 100%;
    height: 100%;
    pointer-events: all;
    position: absolute;
}

.modal-content {
    background: #F9FBFF;
    border-radius: 8px;
    width: 512px;
    padding: 24px;
    position: absolute;
    pointer-events: all;
}